/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2019, 8:46:34 PM
    Author     : krishnakavoor
*/

h1{
    color: #000;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
